---
import ProjectsComponent from "./ProjectsComponent.astro";
---

<section>
  <h3 class="title">Projects</h3>
  <div class="content">
    <!-- <ProjectsComponent
      title="QuickCart"
      description="E-Commerce creator (TFC)"
      link="https://github.com/Javi0108/QuickCart"
      img="/projects_imgs/quickcart_img.png"
      tech={["angular", "typescript", "django", "python"]}
    /> -->
    <!-- <ProjectsComponent
      title="DoAll"
      description="ToDo app with an API REST"
      repo="https://github.com/Javi0108/todo-app"
      link="https://github.com/Javi0108/todo-app"
      img="/projects_imgs/ToDoApp_img.png"
      tech={["react", "javascript", "django", "python"]}
    /> -->
    <ProjectsComponent
      title="Formula 1"
      description="Formula 1 app using an external API REST"
      repo="https://github.com/Javi0108/formula1-react"
      link="https://formula1-react.vercel.app/"
      img="/projects_imgs/formula1_img.png"
      tech={["react", "typescript", "threejs"]}
    />
    <ProjectsComponent
      title="Galaxy collision"
      description="Simulation of galaxy collision using ThreeJS"
      repo="https://github.com/Javi0108/galaxy-collision"
      link="https://galaxy-collision.vercel.app/"
      img="/projects_imgs/galaxyCollision_img.png"
      tech={["vite", "javascript", "threejs"]}
    />
    <ProjectsComponent
      title="The 2048 Game"
      description="The 2048 Game but in 3D using ThreeJS"
      repo="https://github.com/Javi0108/2048-thegame"
      link="https://2048-thegame.vercel.app/"
      img="/projects_imgs/2048Game_img.png"
      tech={["astro", "javascript", "threejs"]}
    />
    <ProjectsComponent
      title="Elevenlabs' IA Integration"
      description="Voice chatbot with an Elevenlabs' voice AI"
      repo="https://github.com/Javi0108/VoiceChatGpt-Prototype"
      link="https://voice-chat-gpt-prototype.vercel.app/"
      img="/projects_imgs/voiceChat_img.png"
      tech={["vite", "react", "javascript", "threejs"]}
    />
    <ProjectsComponent
      title="El Traje de Triana"
      description="Managment software for a local business in Seville"
      repo="https://github.com/Javi0108/el-traje-de-triana"
      link="https://el-traje-de-triana.lovable.app/"
      img="/projects_imgs/eltrajedetriana.png"
      tech={["lovable", "supabase"]}
    />
  </div>
</section>

<style>
  section {
    margin-top: 3rem;
    z-index: 1000;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 25%;
  }

  @media only screen and (max-width: 600px) {
    .content {
      padding-left: 5%;
      padding-right: 5%;

      justify-content: start;
    }
  }
</style>
