<div>
  <h5>Front-End</h5>
  <div id="frontend-div" class="d-flex flex-row flex-wrap gap-2">
    <div id="card-tech">
      <img src="icons/html.svg" alt="imgn del logo de html" title="HTML" />
      <span>HTML</span>
    </div>
    <div id="card-tech">
      <img src="icons/css.svg" alt="imgn del logo de css" title="CSS" />
      <span>CSS</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/javascript.svg"
        alt="imgn del logo de javascript"
        title="JavaScript"
      />
      <span>JavaScript</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/typescript.svg"
        alt="imgn del logo de typescript"
        title="TypeScript"
      />
      <span>TypeScript</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/bootstrap.svg"
        alt="imgn del logo de bootstrap"
        title="Bootstrap"
      />
      <span>Bootstrap</span>
    </div>
    <div id="card-tech">
      <img src="icons/ionic.svg" alt="imgn del logo de ionic" title="Ionic" />
      <span>Ionic</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/angular.svg"
        alt="imgn del logo de angular"
        title="Angular"
      />
      <span>Angular</span>
    </div>
    <div id="card-tech">
      <img src="icons/react.svg" alt="imgn del logo de react" title="React" />
      <span>React</span>
    </div>
    <div id="card-tech">
      <img src="icons/astro.svg" alt="imgn del logo de astro" title="Astro" />
      <span>Astro</span>
    </div>
    <div id="card-tech">
      <img src="icons/vite.svg" alt="imgn del logo de Vite" title="Vite" />
      <span>Vite</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/threejs.svg"
        alt="imgn del logo de threejs"
        title="three.js"
      />
      <span>three.js</span>
    </div>
    <div id="card-tech">
      <img src="icons/lovable.svg" alt="imgn del logo de lovable" title="Lovable" />
      <span>Lovable</span>
    </div>
  </div>
  <h5>Back-End</h5>
  <div id="backend-div" class="d-flex flex-row flex-wrap gap-2">
    <div id="card-tech">
      <img src="icons/java.svg" alt="imgn del logo de java" title="Java" />
      <span>Java</span>
    </div>
    <div id="card-tech">
      <img src="icons/c-sharp.svg" alt="imgn del logo de c#" title="C Sharp (C#)" />
      <span>C Sharp</span>
    </div>
    <div id="card-tech">
      <img src="icons/php.svg" alt="imgn del logo de php" title="PHP" />
      <span>PHP</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/python.svg"
        alt="imgn del logo de python"
        title="Python"
      />
      <span>Python</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/django.svg"
        alt="imgn del logo de django"
        title="Django"
      />
      <span>Django</span>
    </div>
    <div id="card-tech">
      <img src="icons/mysql.svg" alt="imgn del logo de mysql" title="MySQL" />
      <span>MySQL</span>
    </div>
    <div id="card-tech">
      <img
        src="icons/sqlite.svg"
        alt="imgn del logo de sqlite"
        title="SQLite"
      />
      <span>SQLite</span>
    </div>
    <div id="card-tech">
      <img src="icons/supabase.svg" alt="imgn del logo de supabase" title="SupaBase" />
      <span>Supabase</span>
    </div>
  </div>
</div>

<style>
  #frontend-div {
    margin-bottom: 2rem;
    width: 70%;
  }

  #backend-div {
    width: 70%;
  }

  #card-tech {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 7px 10px;
    background-color: #60a0ff41;
    border: 1px solid #609fff;
    border-radius: 5px;
    font-size: larger;
    font-weight: 500;
  }

  #card-tech:hover img {
    transform: filter ease;
    filter: grayscale(0%);
  }

  img {
    width: 35px;
    padding: 0px;
    filter: grayscale(100%);
    transition: filter ease 0.3s;
  }

  @media only screen and (max-width: 600px) {
    #frontend-div {
      width: 100%;
    }

    #backend-div {
      width: 100%;
    }

    img {
      filter: grayscale(0%);
    }
  }
</style>
