<div>
  <h5>Front-End</h5>
  <div class="d-flex flex-row flex-wrap gap-2" style="margin-bottom: 2rem;">
    <img src="icons/html.svg" alt="imgn del logo de html" title="HTML" style={"width: 45px"} />
    <img src="icons/css.svg" alt="imgn del logo de css" title="CSS" style={"width: 45px"} />
    <img
      src="icons/javascript.svg"
      alt="imgn del logo de javascript"
      title="JavaScript"
      style={"width: 45px"}
    />
    <img
      src="icons/typescript.svg"
      alt="imgn del logo de typescript"
      title="TypeScript"
      style={"width: 45px"}
    />
    <img
      src="icons/bootstrap.svg"
      alt="imgn del logo de bootstrap"
      title="Bootstrap"
      style={"width: 45px"}
    />
    <img src="icons/ionic.svg" alt="imgn del logo de ionic" title="Ionic" style={"width: 45px"} />
    <img
      src="icons/angular.svg"
      alt="imgn del logo de angular"
      title="Angular"
      style={"width: 45px"}
    />
    <img src="icons/react.svg" alt="imgn del logo de react" title="React" style={"width: 45px"} />
    <img src="icons/astro.svg" alt="imgn del logo de astro" title="Astro" style={"width: 45px"} />

  </div>
  <h5>Back-End</h5>
  <div class="d-flex flex-row flex-wrap gap-2">
    <img src="icons/java.svg" alt="imgn del logo de java" title="Java" style={"width: 45px"} />
    <img src="icons/php.svg" alt="imgn del logo de php" title="PHP" style={"width: 45px"} />
    <img src="icons/python.svg" alt="imgn del logo de python" title="Python" style={"width: 45px"} />
    <img src="icons/django.svg" alt="imgn del logo de django" title="Django" style={"width: 45px"} />
    <img src="icons/mysql.svg"alt="imgn del logo de mysql" title="MySQL" style={"width: 70px"} />
    <img src="icons/sqlite.svg" alt="imgn del logo de sqlite" title="SQLite" style={"width: 70px"} />
  </div>
</div>

<style>
  img {
    padding: 0px;
    filter: grayscale(100%);
    transition: filter ease 0.3s;
  }

  img:hover {
    transform: filter ease;
    filter: grayscale(0%);
  }
</style>