<section class="d-none d-md-flex flex-row justify-content-center align-items-center">
  <ul
    id="nav"
    class="d-flex flex-row justify-content-center align-items-baseline gap-4 pt-3"
  >
    <li class="nav-item">
      <a class="" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="" href="#about-me">About me</a>
    </li>
    <li class="nav-item">
      <a class="" href="#experience">Experience</a>
    </li>
    <li class="nav-item">
      <a class="" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a
        target="_blank"
        href="https://drive.google.com/file/d/1e5AMf2BqTUXGYR4E8E4X7J3RCab5Jolr/view?usp=drive_link"
        id="cvButton"
        class="cvButton"
        rel="noopener noreferrer"
        ><i class="bi bi-file-earmark-person" title="CV"></i>
      </a>
    </li>
  </ul>
</section>
<i id="moon" class="bi bi-moon-fill"></i>


<script type="text/javascript">
  document.querySelectorAll(".nav-item").forEach((item) => {
    item.addEventListener("click", (event) => {
      document
        .querySelectorAll(".nav-item")
        .forEach((nav) => nav.classList.remove("active"));
      item.classList.add("active");
    });
  });

  document.getElementById("moon").addEventListener("click", () => {
    document.body.classList.toggle("dark-mode");

    document.querySelector("section").classList.toggle("dark-mode-bg");

    document.getElementById("moon").classList.toggle("bi-moon-fill");
    document.getElementById("moon").classList.toggle("bi-brightness-high-fill");
  });
</script>

<style>
  section {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 58px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    text-decoration: none;
    color: black;
  }

  .dark-mode-bg {
    backdrop-filter: blur(10px);
    background-color: transparent;
    text-decoration: none;
    color: white;
  }

  .dark-mode-bg #nav li a {
    color: white;
  }

  .dark-mode-bg #nav li a:hover {
    color: #609fff;
  }

  #nav {
    list-style: none;
    text-decoration: none;
  }

  #nav li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  #nav li a:hover {
    color: #609fff;
  }

  #cvButton {
    font-size: large;
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: inherit;
    border-color: transparent;
    transition: all 0.3s ease;
  }

  #cvButton:hover {
    color: #609fff;
  }

  #moon {
    position: fixed;
    z-index: 1001;
    right: 5%;
    top: 1.3%;
    padding: 5px 8px;
    border-radius: 10px;
    transition: all 0.4s ease;
  }

  #moon:hover {
    background-color: #609fff;
  }

  @media only screen and (max-width: 600px) {
    #moon {
      right: 10%;
      top: 5%;
      position: absolute;
    }
  }
</style>
