---
import { Image } from 'astro:assets'
import defaultimg from '../assets/defaultimg.webp'
---

<section>
    <Image src={defaultimg} alt="Imagen de mi persona" style={'border-radius: 50%; width: 400px; height: 400px;'}>
</section>