---
interface Props {
    title: string;
    description: string;
    link: string;
    img: string;
}

const { title, description, link, img } = Astro.props;
---
<div class="col-5 col-sm-2">
    <div
        class="content"
        style="background-color: transparent; border: 1px solid #609fff; border-radius: 5px; padding: 5px;"
    >
        <img src={img} class="d-none d-md-block" style="border-radius: 5px; width: 100%;" />
        <div style="padding: 5px;">
            <h5 class="fs-4">{title}</h5>
            <p class="d-none d-md-block">
                {description}
            </p>
            <a href={link} class="btn"><i class="bi bi-github"></i></a>
        </div>
    </div>
</div>

<style>
    section {
        padding-left: 25%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media only screen and (max-width: 600px) {
        .content {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
    }

    .btn {
        background-color: #609fff;
        color: white;
    }

    .btn:hover {
        background-color: #0066ff;
    }
</style>
