---
interface Props {
    title: string;
    description: string;
    link: string;
    img: string;
}

const { title, description, link, img } = Astro.props;
---

<div class="col-12 col-sm-4">
    <div
        class="content"
        style="background-color: transparent; border: 1px solid #609fff; border-radius: 5px; padding: 5px;"
    >
        <img
            src={img}
            class="d-none d-md-block"
            style="border-radius: 5px; width: 100%;"
            alt="Imagen del proyecto"
        />
        <div class="info">
            <div
                style="display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-evenly; align-items: start;"
            >
                <h5 class="fs-4">{title}</h5>
                <label>
                    {description}
                </label>
            </div>
            <div
                style="display: flex; flex-direction: column; flex-wrap:wrap; align-content: end;"
            >
                <a target="_blank"href={link} class="btn"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
</div>

<style>
    section {
        padding-left: 25%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .info {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    @media only screen and (max-width: 600px) {
        .content {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        .info {
            align-items: center;
            gap: 55px;
        }
    }

    .btn {
        background-color: #609fff;
        color: white;
        font-size: larger;
    }

    .btn:hover {
        background-color: #0066ff;
    }
</style>
