---
import ExperienceComponent from "./ExperienceComponent.astro";
---

<section>
  <h3 class="title">Experience</h3>
  <ul
    class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
  >
    <ExperienceComponent
      businessName="CN Holistica"
      link="https://cnholistica.com/"
      date="Jul 2025 - Now"
      place="San Cristóbal de La Laguna"
      description=`● I designed and developed more intuitive internal web interfaces, improving the experience for administration users.\n● I integrated dashboards and data visualizations, facilitating real-time decision-making.\n● I automated internal processes that reduced the manual workload for staff and increased operational efficiency.\n● I optimized workflows in web panels, reducing the steps required to complete frequent tasks.`
      side="timeline-start mb-10 md:text-end"
    />
    <ExperienceComponent
      businessName="Aqua E-Solutions"
      link="https://www.aquaesolutions.com/"
      date="Jun 2024 - May 2025"
      place="Santa Cruz de Tenerife"
      description=`● I developed integrations between SAP Business One and internal web applications, reducing errors in the user interface.\n● I developed automations that allowed operational teams to rely less on manual tasks.`
      side="timeline-end md:mb-10"
    />
    <ExperienceComponent
      businessName="E-Turia"
      link="https://eturia.co/es/"
      date="Mar 2024 - May 2024"
      place="Santa Cruz de Tenerife"
      description=`● I participated in the creation of a customised installation process of SAP Commerce Cloud for Windows on Java SpringBoot.`
      side="timeline-start mb-10 md:text-end"
    />
    <ExperienceComponent
      businessName="I-Top"
      link="https://www.itop.es/"
      date="Mar 2022 - May 2022"
      place="Santa Cruz de Tenerife"
      description=`● I developed reusable components in React Native, accelerating the development of new screens.\n● I participated in the complete migration of the software from Titanium, modernizing the frontend architecture.\n● I implemented interfaces with UX/UI best practices, improving end-user interaction.`
      side="timeline-end md:mb-10"
    />
  </ul>

  <div class="content">
    <ExperienceComponent
      businessName="CN Holistica"
      link="https://cnholistica.com/"
      date="Jul 2025 - Now"
      place="San Cristóbal de La Laguna"
      description=`● I designed and developed more intuitive internal web interfaces, improving the experience for administration users.\n● I integrated dashboards and data visualizations, facilitating real-time decision-making.\n● I automated internal processes that reduced the manual workload for staff and increased operational efficiency.\n● I optimized workflows in web panels, reducing the steps required to complete frequent tasks.`
      side=""
    />
    <ExperienceComponent
      businessName="Aqua E-Solutions"
      link="https://www.aquaesolutions.com/"
      date="Jun 2024 - May 2025"
      place="Santa Cruz de Tenerife"
      description=`● I developed integrations between SAP Business One and internal web applications, reducing errors in the user interface.\n● I developed automations that allowed operational teams to rely less on manual tasks.`
      side=""
    />
    <ExperienceComponent
      businessName="E-Turia"
      link="https://eturia.co/es/"
      date="Mar 2024 - May 2024"
      place="Santa Cruz de Tenerife"
      description=`● I participated in the creation of a customised installation process of SAP Commerce Cloud for Windows on Java SpringBoot.`
      side=""
    />
    <ExperienceComponent
      businessName="I-Top"
      link="https://www.itop.es/"
      date="Mar 2022 - May 2022"
      place="Santa Cruz de Tenerife"
      description=`● I developed reusable components in React Native, accelerating the development of new screens.\n● I participated in the complete migration of the software from Titanium, modernizing the frontend architecture.\n● I implemented interfaces with UX/UI best practices, improving end-user interaction.`
      side=""
    />
  </div>
</section>
<div id="projects"></div>

<style>
  section {
    margin-top: 3rem;
  }

  ul {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  .content {
    display: none;
    padding-left: 25%;
    z-index: 1000;
  }

  @media only screen and (max-width: 600px) {
    .content {
      display: block;
      padding-left: 5%;
      padding-right: 5%;
      justify-content: start;
      z-index: 1000;
    }

    ul {
      display: none;
    }
  }
</style>
