<section id="About-me">
  <h2 class="title">About me</h2>
  <div class="content d-flex flex-row justify-content-center">
    <span class="presentation"
      >My name is Javier García Domínguez, and I am an software developer
      passionate about creating innovative and functional solutions for
      desktop and web platforms. With a solid background in <strong
        >Multiplatform Application Development</strong
      > and <strong>Web Application Development</strong>, I have acquired
      technical and creative skills that enable me to tackle diverse projects
      successfully.
    </span>
  </div>
</section>

<style>
  section {
    color: white;
  }

  strong {
    color: #609FFF;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .presentation {
    width: 50%;
    text-align: left;
  }
</style>
