<section>
  <h2 class="title">About me</h2>
  <div class="content d-flex flex-row">
    <span class="presentation"
      >My name is <strong>Javier García Domínguez</strong>, I am a software
      developer with a passion for technological innovation and creativity. I
      specialize in the design and development of <strong
        >web and desktop applications</strong
      > that deliver seamless and engaging user experiences. My focus is on integrating
      <strong>efficient</strong> technology solutions and constantly <strong
        >improving</strong
      >
      the platforms I work on. <br /><br />
      <!-- In addition to my development skills, I am deeply interested in the possibilities
      offered by <strong>NVIDIA Omniverse</strong>, a platform that is
      <strong>revolutionizing</strong> the way developers interact with real-time simulation and
      creation. This allows me to integrate advanced technologies into my
      projects, opening up new opportunities for automation and innovation. -->
    </span>
  </div>
</section>

<style>
  strong {
    color: #609fff;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .presentation {
    width: 50%;
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    .content {
      padding-left: 5%;
      padding-right: 5%;
      justify-content: start;
    }

    .presentation {
      width: 100%;
    }
  }
</style>
