---
import Image from "../components/ProfileImage.astro";
---

<section>
  <div class="content">
    <div class="content-header d-flex flex-row gap-5">
      <div class="titles">
        <span><span class="hello">hello</span>, I'm <strong>Javier</strong>, a</span>
        <span><strong>Software developer</strong></span>
      </div>
      <Image />
    </div>

    <div class="content-footer d-flex flex-row gap-2">
      <span>Read more</span>
      <i class="bi bi-arrow-down"></i>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    color: white;
  }

  .hello{
    font-family: 'Borel', cursive;
  }

  .content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr;
  }

  .content-header {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  
  strong {
    color: #609fff;
  }

  .content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

</style>
