---
import Image from "../components/ProfileImage.astro";
---

<section>
  <div class="content">
    <div class="content-header d-flex flex-row gap-5">
      <div class="titles">
        <span>Hello, I'm <strong>Javier</strong>, a</span>
        <span><strong>Software developer</strong></span>
      </div>
      <Image />
    </div>

    <div class="content-footer d-flex flex-row gap-2">
      <span>Read more</span>
      <i class="bi bi-arrow-down"></i>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    color: white;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  .titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: xx-large;
    align-content: center;
    justify-content: center;
  }
  
  strong {
    color: #609fff;
  }
</style>
