<section class="d-flex flex-row justify-content-center">
  <div class="content">
    <div id="cover" class="content-header d-flex flex-row">
      <div class="titles">
        <span
          ><span class="hello">hello</span>, I'm <strong>Javier</strong>, a</span
        >
        <span><strong>Software developer</strong></span>
      </div>
      <img id="self-image" src="self-image.jpg" alt="" class="d-none d-md-block rounded-circle mx-5" width="350px" />
      <!-- <ThreeJsObject /> -->
    </div>

    <div class="content-footer d-flex flex-row">
      <span id="about-me">Read more</span>
      <!-- El id del span es para los links -->
      <i class="bi bi-arrow-down"></i>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
  }

  .hello {
    font-family: "Borel", cursive;
  }

  .content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
  }

  .content-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  .titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }

  strong {
    color: #609fff;
  }

  .content-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }

  .bi-arrow-down {
    position: relative;
    z-index: -1;
    animation: smoothbouncearrow 0.5s infinite alternate;
  }

  @keyframes smoothbouncearrow {
    from {
      transform: translate3d(0, -3px, 0);
    }
    to {
      transform: translate3d(0, 3px, 0);
    }
  }

  @media only screen and (max-width: 600px) {
    .content-footer {
      padding-top: 0.5rem;
      align-items: start;
    }
  }
</style>
