<section>
    <h2 class="title">Experience</h2>
    <div class="content d-flex flex-row" style="margin-left: 25%;">
      <div class="d-flex flex-row align-items-baseline gap-2">
        <i class="bi bi-briefcase-fill" style="font-size: xx-large;"></i>
        <div class="d-flex flex-column">
          <h5><a href="https://www.itop.es/" target="_blank" style="color: white; text-decoration: none;">I-Top <i class="bi bi-box-arrow-up-right" style="font-size: small;"></i></a></h5>
          <label>Mar 2022 - May 2022</label>
          <label>Santa Cruz de Tenerife</label>
          <p>
            Migrating an application to ReactJS.
          </p>
        </div>
      </div>
    </div>
    <div class="content d-flex flex-row" style="margin-left: 25%;">
      <div class="d-flex flex-row align-items-baseline gap-2">
        <i class="bi bi-briefcase-fill" style="font-size: xx-large;"></i>
        <div class="d-flex flex-column">
          <h5><a href="https://eturia.co/es/" style="color: white; text-decoration: none;">E-Turia <i class="bi bi-box-arrow-up-right" style="font-size: small;"></i></a></h5>
          <label>Mar 2024 - May 2024</label>
          <label>Santa Cruz de Tenerife</label>
          <p>
            Creating a tutorial for the installation of SAP in Windows.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <style>
    section {
      margin-top: 3rem;
      color: white;
    }
  </style>