<section>
  <h3 class="title">Experience</h3>
  <div class="content d-flex flex-row" style="margin-left: 25%;">
    <div class="d-flex flex-row align-items-baseline gap-2">
      <i class="bi bi-briefcase-fill" style="font-size: x-large;"></i>
      <div class="d-flex flex-column">
        <h5>
          <a
            class="d-flex flex-row align-items-baseline gap-2"
            href="https://www.aquaesolutions.com/"
            style="color: white; text-decoration: none;"
            target="_blank"
            >Aqua E-Solutions <i
              class="bi bi-box-arrow-up-right"
              style="font-size: small;"></i></a
          >
        </h5>
        <label>May 2024 - Present</label>
        <label>Santa Cruz de Tenerife</label>
        <p>Creating a tutorial for the installation of SAP in Windows.</p>
      </div>
    </div>
  </div>
  <div class="content d-flex flex-row" style="margin-left: 25%;">
    <div class="d-flex flex-row align-items-baseline gap-2">
      <i class="bi bi-briefcase-fill" style="font-size: x-large;"></i>
      <div class="d-flex flex-column">
        <h5>
          <a
            class="d-flex flex-row align-items-baseline gap-2"
            href="https://eturia.co/es/"
            style="color: white; text-decoration: none;"
            target="_blank"
            >E-Turia <i
              class="bi bi-box-arrow-up-right"
              style="font-size: small;"></i></a
          >
        </h5>
        <label>Mar 2024 - May 2024</label>
        <label>Santa Cruz de Tenerife</label>
        <label>Practice student</label>
        <p>Creating a tutorial for the installation of SAP in Windows.</p>
      </div>
    </div>
  </div>
  <div class="content d-flex flex-row" style="margin-left: 25%;">
    <div class="d-flex flex-row align-items-baseline gap-2">
      <i class="bi bi-briefcase-fill" style="font-size: x-large;"></i>
      <div class="d-flex flex-column">
        <h5>
          <a
            class="d-flex flex-row align-items-baseline gap-2"
            href="https://www.itop.es/"
            target="_blank"
            style="color: white; text-decoration: none;"
            >I-Top <i class="bi bi-box-arrow-up-right" style="font-size: small;"
            ></i></a
          >
        </h5>
        <label>Mar 2022 - May 2022</label>
        <label>Santa Cruz de Tenerife</label>
        <label>Practice student</label>
        <p>Migrating an application to ReactJS.</p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: 3rem;
    color: white;
  }
</style>
