<section class="footer d-flex flex-column">
  <h3 class="title">Personal Details</h3>
  <div class="row d-flex flex-row" style="margin-left: 15%; margin-right: 15%;">
    <div class="column1 col-12 col-sm-6 d-flex flex-row align-items-center gap-3">
      <a target="_blank" href="https://github.com/Javi0108"
        ><i class="bi bi-github"></i></a
      >
      <a target="_blank" href="mailto:gardojavi@gmail.com"
        ><i class="bi bi-envelope-fill"></i></a
      >
    </div>
    <div class="column2 col-12 col-sm-6 d-flex flex-row align-items-center gap-3">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/javier-garc%C3%ADa-dom%C3%ADnguez-4290441ba/"
        ><i class="bi bi-linkedin"></i></a
      >
      <a target="_blank" href="https://drive.google.com/file/d/1ZUeEElQvo1nl8Wt8ByiIiP7LHIRrwpjs/view?usp=drive_link"><i class="bi bi-file-earmark-person-fill"></i></a>
    </div>
  </div>
</section>
<section class="text-center">
  2024 Copyright by Javier Garcia @ All rights reserved
</section>

<style>
  section {
    margin-top: 3rem;
  }

  .content {
    padding-left: 25%;
  }

  a {
    color: inherit;
    width: 80px;
    height: 80px;
    font-size: xx-large;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  a:hover {
    background-color: #609fff;
    border-color: #609fff;
  }

  .column1 {
    justify-content: end;
  }

  .column2 {
    justify-content: start;
  }

  @media only screen and (max-width: 600px) {
    .content {
      padding-left: 5%;
      padding-right: 5%;
      justify-content: start;
    }

    .column1 {
      margin-bottom: 1rem;
      justify-content: center;
    }

    .column2 {
      justify-content: center;
    }
  }
</style>
