<section class="d-none d-sm-block">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav d-flex flex-row justify-content-center align-content-center gap-2"
        >
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Experience">Experience</a>
          </li>
          <li class="nav-item">
            <a
              target="_blank"
              href="https://drive.google.com/file/d/10e9_h3RQAjLAh-uNVGzadAnIqRjCH2wG/view?usp=drive_link"
              id="cvButton"
              class="cvButton nav-link mx-2"
              ><i class="bi bi-file-earmark-person"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<style>
  section {
    background-color: #1f2533;
    position: fixed;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #609fff;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #cvButton {
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border-color: transparent;
    transition: all 0.3s ease;
  }

  #cvButton:hover {
    color: #609fff;
  }
</style>
