<section>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav d-flex flex-row justify-content-center align-content-center"
        >
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About-me">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <form>
            <li class="searchInput" id="searchInput">
              <input type="search" placeholder="Search" aria-label="Search" />
            </li>
            <li>
              <button type="button" id="searchButton" class="searchButton"
                ><i class="bi bi-search"></i></button
              >
            </li>
          </form>
          <li class="nav-item">
            <button
              type="button"
              id="cvButton"
              class="cvButton nav-link mx-2" 
              ><i class="bi bi-file-earmark-person"></i>
              </button
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<script is:inline>
  const button = document.getElementById("searchButton");
  const input = document.getElementById("searchInput");
  input.style.display = "none";

  button.addEventListener("click", () => {
    if (input.style.display == "block") {
      input.style.display = "none";
    } else if (input.style.display == "none") {
      input.style.display = "block";
    }
  });

  document.getElementById('cvButton').addEventListener('click', function() {
      const url = '../../CV_English.pdf';
      const enlace = document.createElement('a');
      enlace.href = url;
      enlace.download = 'CV_English.pdf';
      enlace.click();
    });
</script>

<style>

  section {
		background-color: #1f2533;
    position: fixed;
    width: 100%;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  form {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #searchButton {
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border-color: transparent;
    transition: all .3s ease;
    /* margin-left: 10px; */
  }

  #searchButton:hover {
    color: rgb(187, 187, 187);
  }

  #searchInput {
    border-radius: 10px;
  }

  #cvButton {
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border-color: transparent;
    transition: all .3s ease;
  }

  #cvButton:hover {
    color: rgb(187, 187, 187);
  }
</style>
