<section class="d-flex flex-row justify-content-center align-items-center">
  <nav
    class="d-none d-sm-block navbar navbar-expand-lg"
    id="navbar"
  >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        id="navbar-nav"
        class="navbar-nav d-flex flex-row flex-wrap justify-content-center align-content-center gap-2"
      >
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1KiQKVayFGT7cO2Sb4DS0XPr3wrP_x-v9/view?usp=drive_link"
            id="cvButton"
            class="cvButton nav-link"
            rel="noopener noreferrer"
            ><i class="bi bi-file-earmark-person" title="CV"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <i id="moon" class="bi bi-moon-fill"></i>
</section>

<script type="text/javascript">
  document.querySelectorAll(".nav-link").forEach((item) => {
    item.addEventListener("click", (event) => {
      document
        .querySelectorAll(".nav-link")
        .forEach((nav) => nav.classList.remove("active"));
      item.classList.add("active");
    });
  });

  document.getElementById("moon").addEventListener("click", () => {
    document.body.classList.toggle("dark-mode");
    document.getElementById("navbar").classList.toggle("navbar-light");
    document.getElementById("navbar").classList.toggle("navbar-dark");

    document.querySelector("section").classList.toggle("dark-mode-bg");

    document.getElementById("moon").classList.toggle("bi-moon-fill");
    document.getElementById("moon").classList.toggle("bi-brightness-high-fill");
  });
</script>

<style>
  section {
    z-index: 1;
    background-color: inherit;
    width: 100%;
    height: 58px;
  }

  .dark-mode-bg {
    background-color: #1f2533;
    transition: background-color 0.4s ease;

  }

  #navbar {
    position: absolute;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #cvButton {
    font-size: large;
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0);
    color: inherit;
    border-color: transparent;
    transition: all 0.3s ease;
  }

  #cvButton:hover {
    color: #609fff;
  }

  #moon {
    position: relative;
    margin-left: 90vw;
    margin-right: 3rem;
    transition: all 0.4s ease;
  }

  @media only screen and (min-width: 600px) {
    section {
      position: fixed;
      background-color: inherit;
    }
  }
</style>
