---
import ProjectsComponent from "../components/ProjectsComponent.astro";

const rutaImg = "src/assets/icons/";
---

<section>
  <h3 class="title">Projects</h3>
  <div class="row gx-0 componentes">
    <ProjectsComponent
      title="QuickCart"
      description="E-Commerce creator (TFC)"
      link="https://github.com/Javi0108/QuickCart"
      img="/projects_imgs/quickcart_img.png"
      tech={[rutaImg + "html.svg", rutaImg + "css.svg", rutaImg + "angular.svg", rutaImg + "typescript.svg", rutaImg + "django.svg", rutaImg + "python.svg"]}
    />
    <ProjectsComponent
    title="DoAll"
    description="ToDo app with an API REST"
    link="https://github.com/Javi0108/todo-app"
    img="/projects_imgs/ToDoApp_img.png"
    tech={[rutaImg + "html.svg", rutaImg + "css.svg", rutaImg + "react.svg", rutaImg + "javascript.svg", rutaImg + "django.svg", rutaImg + "python.svg"]}
  />
    <!-- <ProjectsComponent
      title="Personalized portfolio (In progress)"
      description="Interactive portfolio website built with Astro and ThreeJS"
      link=""
      img=""
    />
     -->
  </div>
</section>

<style>
  section {
    margin-top: 3rem;
  }

  .componentes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 25%;
  }

  @media only screen and (max-width: 600px) {
    .componentes {
      padding-left: 5%;
      padding-right: 5%;

      justify-content: start;
    }
  }
</style>
