---
import Icons from "../components/SkillsIcons.astro";
---

<section>
  <h3 class="title">Skills</h3>
  <Icons />
</section>

<style>
  section {
    margin-top: 3rem;
    color: white;
  }
</style>
