<section>
  <h2 class="title">About me</h2>
  <div class="content d-flex flex-column">
    <p class="presentation"
      >Hi! I’m <strong>Javier García Domínguez</strong>, a junior web developer who strongly cares for technological
      innovation and creativity. I specialize in <strong>designing</strong> and <strong>developing</strong> web applications focused on delivering
      seamless and engaging user experiences. My goal is to integrate <strong>efficient technological solutions</strong> while continuously improving the platforms I work on.
      </p>
      <p class="presentation">
      In addition to my development skills, I have a keen interest in the potential web creation in <strong>augmented
      reality (AR)</strong>. These technology enable new ways of enhancing user interaction and delivering more <strong>immersive 
      experiences</strong>, allowing me to explore innovative solutions that push the boundaries of what's possible in the digital world.
      </p>
  </div>
</section>

<style>
  strong {
    color: #609fff;
  }

  .content {
    padding-left: 25%;
  }

  .presentation {
    width: 65%;
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    .content {
      padding-left: 5%;
      padding-right: 5%;
      justify-content: start;
    }

    .presentation {
      width: 100%;
    }
  }
</style>
